{# src/Test/CrudBundle/Resources/views/Animal/index.html.twig #}

{% extends "TestCrudBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block testcrud_body %}

  <h2>Liste des animaux</h2>

    <div class="row">
        <a class="btn btn-primary" href="{{ path('test_crud_add', {'type': reptile[0], 'enveloppe': reptile[1]} ) }}" role="bouton">Ajouter reptile</a>
        <a class="btn btn-primary" href="{{ path('test_crud_add', {'type': mammifere[0], 'enveloppe': mammifere[1]}) }}" role="bouton">Ajouter mammifère</a>
        <a class="btn btn-primary" href="{{ path('test_crud_add', {'type': oiseau[0], 'enveloppe': oiseau[1]}) }}" role="bouton">Ajouter oiseau</a>
    </div>
      
      <table class="table table-bordered">
        <tr>
            <th>Nom</th>
            <th>Présentation</th>
            <th>Option</th>
        </tr>
        {% for animal in listAnimals %}
          {% if  animal.type == "oiseau" %}
        <tr bgcolor="#ffee58s" >
              <td>{{ animal.nom }}</td>
              <td>{{ animal.tweet() }}</td>
              <td>  
                  <p>
                    <a href="{{ path('test_crud_edit', {'id': animal.id}) }}" class="btn btn-info">
                      <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a href="{{ path('test_crud_delete', {'id': animal.id}) }}" class="btn btn-danger">
                      <i class="glyphicon glyphicon-trash"></i>
                    </a>
                  </p>
              </td>
          {% elseif animal.type == "reptile" %}
        <tr bgcolor="#4caf50" >
              <td>{{ animal.nom }}</td>
              <td>{{ animal.hiss() }}</td>
              <td>  
                  <p>
                    <a href="{{ path('test_crud_edit', {'id': animal.id}) }}" class="btn btn-info">
                      <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a href="{{ path('test_crud_delete', {'id': animal.id}) }}" class="btn btn-danger">
                      <i class="glyphicon glyphicon-trash"></i>
                    </a>
                  </p>
              </td>
          {% else %}
        <tr bgcolor="#e57373" >
              <td>{{ animal.nom }}</td>
              <td>{{ animal.growl() }}</td>
              <td>  
                  <p>
                    <a href="{{ path('test_crud_edit', {'id': animal.id}) }}" class="btn btn-info">
                      <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a href="{{ path('test_crud_delete', {'id': animal.id}) }}" class="btn btn-danger">
                      <i class="glyphicon glyphicon-trash"></i>
                    </a>
                  </p>
              </td>
          {% endif %}


          </tr>
        {% else %}
          <h3>Pas (encore !) d'animaux</h3>
        {% endfor %}
      </table>

    <div class="row">
        <a class="btn btn-primary" href="{{ path('test_crud_add', {'type': reptile[0], 'enveloppe': reptile[1]} ) }}" role="bouton">Ajouter reptile</a>
        <a class="btn btn-primary" href="{{ path('test_crud_add', {'type': mammifere[0], 'enveloppe': mammifere[1]}) }}" role="bouton">Ajouter mammifère</a>
        <a class="btn btn-primary" href="{{ path('test_crud_add', {'type': oiseau[0], 'enveloppe': oiseau[1]}) }}" role="bouton">Ajouter oiseau</a>
    </div>

{% endblock %}
